@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

body {
  background: #fff;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  color: #111;
  line-height: 1.5em;
  letter-spacing: .5px;
  margin: 40px;
  padding: 0;
}

p {
  margin: 0 0 20px 0;
}

a {
  padding: 2px;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 2px solid rgba(0,0,0,1);
  color: #000;
  opacity: 1;
}

a:hover {
  padding: 2px;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 2px solid rgba(0,0,0,0.0);
  background: #000;
  color: #fff;
}

.ico, .ico:hover {
  border-bottom: none;
}

.ico:hover {
  background: #fff;
  color: #000;
}

header, section {
	max-width: 660px;
	margin-bottom: 1em;
}

footer {
  font-size: .8em;
  opacity: .7;
  user-select: none;
}

footer p:before {
  content: '/* ';
}

footer p:after {
  content: ' */';
}

section {
  margin-top: -3em;
}

h1 {
  user-select: none;
  font-weight: 700;
  font-size: 1em;
  margin: 0em 0 20px 0;
  padding: 0;
}

h1:before {
  content: '# ';
}

img {
  width: 100%;
  height: auto;
}

::selection {
  background-color: rgba(204, 255, 0, .2);
  border-radius: 15%;
}

/* @media (prefers-color-scheme: dark) {
  body {
    background: #000;
    color: #fff;
  }

  a {
    border-bottom: 2px solid rgba(255,255,255,1);
    color: #fff;
    opacity: 1;
  }

  a:hover {
    border-bottom: 2px solid rgba(255,255,255,0.0);
    background: #fff;
    color: #000;
  }

  ::selection {
    background-color: rgba(255, 255, 255, .2);
  }
} */

.ico-sc {
  margin-right: 9px;
}

.ret i {
  font-size: 0.8em;
}

.audio article {
  font-size: 4px;
}

.name {
  text-transform: lowercase;
}

.subtext {
  margin-top: -8px;
}

.about, .audio, footer {
  margin-top: 1em;
}

.about p, .audio p {
  font-size: .9em;
  border-left: 5px solid rgba(211, 211, 211, .9);
  padding-left: .5em;
  max-width:660px;
  margin: 0 0 8px;
}

.image {
  padding-bottom: -10px;
}

.player i {
  font-size: 0.9em;
}

/* yeah this is bad */
.player i:hover {
  cursor: pointer;
}

.player span {
  user-select: none;
}

.player p {
  margin-left: 6px;
}

.player p i {
  opacity: .8;
}